<section class="portfolio__section">
  <div class="portfolio__container container">
    <h1 class="title">Our Amesome Portfolio</h1>
    <img src="../../../assets/images/circles.png" alt="decorator" class="circles-decorator">
    <img src="../../../assets/images/line.png " alt="decorator" class="line-decorator">
    <div class="blur"></div>

    <div class="projects__container">
      <div class="project"><img src="../../../assets/images/project1.png" alt="project 1"></div>
      <div class="project"><img src="../../../assets/images/project2.png" alt="project 2"></div>
      <div class="project"><img src="../../../assets/images/project3.png" alt="project 3"></div>
    </div>
  </div>
</section>